# IDE
.vscode/
.idea/

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/

# Project-specific
stats/
stats.json
config
App/params.h
*.o
*.so
sgxclient
sgxserver
sgxkeys
slurm-*.out*
slurm-*.err*


# OS
.DS_Store
Thumbs.db

# Environment
venv/
.env
.venv

# Logs
*.log
App/params.h
log.ansi
log1.ansi
log2.ansi
